.field {
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 48px;
  border-radius: 20px;
  border: 1px solid var(--gray-10);
  color: var(--gray-30);

  &::placeholder {
    color: var(--gray-40);
  }

  &_error {
    border-color: var(--error);
    background: var(--error-light);
  }
}

