.label {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

  &:checked + .toggle {
    background-color: var(--success);

    &:after {
    inset-inline-start: calc(100% - 3px);
    transform: translateX(-100%);
    }
  }
}

.toggle {
  position: relative;
  width: 60px;
  height: 31px;
  border-radius: 9999px;
  background-color: var(--stroke);
  transition: 0.3s;

  &:after {
    content: "";
    position: absolute;
    inset-inline-start: 3px;
    top: 3px;
    height: 25px;
    width: 25px;
    border-radius: 9999px;
    background-color: var(--white);
    transition: all 0.3s;
  }
}
